.example-container {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.example-container > * {
  width: 100%;
  
}
.example-container > .mat-button{
  float: right;
  margin-right: 20%;
  margin-bottom: 20px;
  width: fit-content;
}
