<div class="example-container">
  <mat-form-field>
    <input matInput placeholder="titulo"  [(ngModel)]="comentario.titulo" >
  </mat-form-field>
  <mat-form-field>
    <textarea matInput placeholder="comentario"  [(ngModel)]="comentario.mensaje" ></textarea>
  </mat-form-field>
  <button mat-button color="warn"  (click)="agregarComentario()">enviar</button>

</div>



<h2>{{titulo}}</h2>
<div *ngIf="comentarios?.length > 0; else sinComentarios ">
  <app-comentario *ngFor="let comentario of comentarios" 
  [titulo]="comentario.titulo" [mensaje]="comentario.mensaje" [fecha]="comentario.fecha" 
   [likes]="comentario.likes" (emisorTitulo)="tituloHijo($event)" >
</app-comentario>
<br />

</div>




<ng-template #sinComentarios>
  <hr>
  <h5>Sin comentarios</h5>
</ng-template>
<button mat-fab>
  <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
</button>