<div class="example-container">
  <mat-form-field>
    <input matInput placeholder="titulo" [formControl]="inputControl"  [(ngModel)]="comentario.titulo"  >
    <mat-error *ngIf="inputControl.hasError('required')">
      el titulo es <strong>requerido</strong> y máximo 15 caracteres
      
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <textarea matInput placeholder="comentario"  [(ngModel)]="comentario.mensaje" [formControl]="textAreaControl" ></textarea>
    <mat-error *ngIf="inputControl.hasError('required')">
      el comentario es <strong>requerido</strong> 
    </mat-error>
  </mat-form-field>
  <button mat-button color="warn"  (click)="agregarComentario()">enviar</button>

</div>



<h2>{{titulo | uppercase}}</h2>
<div *ngIf="comentarios?.length > 0; else sinComentarios ">
  <app-comentario *ngFor="let comentario of comentarios" 
  [titulo]="comentario.titulo" [mensaje]="comentario.mensaje" [fecha]="comentario.fecha"  [id]="comentario.id"
   [likes]="comentario.likes" (emisorComentario)="recibirComentario($event)" >
</app-comentario>
<br />

</div>




<ng-template #sinComentarios>
  <hr>
  <h5>Sin comentarios</h5>
  <mat-progress-spinner
  class="example-margin"
  [color]="color"
  [mode]="mode"
  >
</mat-progress-spinner>
</ng-template>
