
<mat-toolbar color="primary">
        <button mat-icon-button>
          <mat-icon>menu</mat-icon>
        </button>
        <span>
          {{title}}
        </span>
      </mat-toolbar>
      <nav>
        <a>
          <button mat-button color="primary" [routerLink]="'/'">
            home
          </button>
        </a>
        <a>
            <button mat-button color="primary" [routerLink]="'tarjeta'">
              tarjeta
            </button>
          </a>
          <a>
            <button mat-button color="primary" [routerLink]="'material-demo'">
              demo
            </button>
          </a>
      </nav>
      
<router-outlet></router-outlet>
