
<mat-toolbar color="primary">
        <button mat-icon-button>
          <mat-icon>menu</mat-icon>
        </button>
        <span>
          {{title}}
        </span>
      </mat-toolbar>
      <div class="button-row">
          <button mat-button color="primary" [routerLink]="'/'">
            home
          </button>
            <button mat-raised-button color="acent" [routerLink]="'tarjeta'">
              tarjeta
            </button>
            <button  mat-raised-button color="warn" [routerLink]="'material-demo'">
              demo
            </button>
            <button mat-raised-button color="primary" [routerLink]="'servicios'">
              servicios
            </button>
            <button mat-icon-button color="warn" [routerLink]="'ruter'">
              <mat-icon aria-label="Example icon-button with a router icon">router</mat-icon>
            </button>
            
            <button mat-fab color="accent" color="secondary" [routerLink]="'http'">
              Http
            </button>
        </div>
      
      
<router-outlet></router-outlet>
