<mat-card class="example-card">
    <mat-card-header>
        
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{titulo}}</mat-card-title>
      <mat-card-subtitle>{{fecha}}</mat-card-subtitle>
    </mat-card-header>
    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
    
    <mat-card-content>
      <p>
        {{mensaje}}
      </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-icon-button color="warn"   (click)="emitirComentario($event)">
            <mat-icon aria-label="Example icon-button with a heart icon" >delete</mat-icon>
          </button>
          <span>{{likes}}</span>
    </mat-card-actions>
  </mat-card>
  <br />
  